<div class="container content">
  <div class="columns">
    <div class="column">
      <h1 class="title">Answer the quiz</h1>
      <%= form_with url: answers_path, method: :post do |f| %>
        <div class="field">
          <% @quiz.questions.each do |question| %>
            <%= f.label :answers, question.title %>
            <%= f.text_field :answers, class: 'input' %>
            <% end %>
        </div>
        <%= f.submit 'Answer', class: 'button is-primary' %>
        <% end %>
        <%= f.hidden_field :quiz_id, value: @quiz.id %>
    </div>
  </div>
</div>
      